*{
    outline: 1px dotted red;
}
html{
    background-color: rgb(0, 0, 0);
}
#canvas{
    /* width:960px;
    height:960px; */
    /* background-color:bisque; */
    display:flex;
    flex-wrap: wrap;
}

.outer-container {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height:100vh;
    /* width:40%; */
}
input{
    width:600px;
    height:40px;
}
.canvas-square{
    /* background-color: rgba(255,255,255,0); */
    /* width:60px;
    height:60px; */
    outline: 1px dotted rgb(44, 44, 44);
    /* border:1px solid back; */
}

/* .canvas-square-trail{
    background-color: rgba(255, 245, 169,0.9);
    width:60px;
    height:60px;
    outline: 1px dotted black;
    border:1px solid back;
} */